<section id="home" style="background: url('/static/images/컴퓨터사진.png') no-repeat center center / cover; position: relative;">
    <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; backdrop-filter: blur(4px); background-color: rgba(0, 0, 0, 0.5); z-index: 0;"></div>
        <div style="position: relative; z-index: 1; color: white;">
            <h1>신준혁's Portfolio</h1>
            <p>
            Flask 기반 웹 개발과 머신러닝·딥러닝을 활용한 데이터 솔루션을 구축하는 개발자 신준혁입니다.<br>
            API 설계, MySQL 데이터 관리, 서버 운영 및 도메인 배포까지 경험하며,<br>
            소통과 협업을 통해 최적의 솔루션을 도출하는 것을 중요하게 생각합니다.
            </p>
        </div>
    </div>
</section>