{% extends 'base.html' %}
{% block css %}
<style>
    table{
        border-collapse: collapse;
        width: 800px;
    }
    th{
        border: 1px solid #000;
    }
    td{
        padding-left: 5px;
        border: 1px solid #000;
    }
</style>
{% endblock %}
	</head>
	<body >
{% block content %}
<div class="headfixed">
    <h1>Career</h1><br>
    <a href="Home.html"><button class="buttonstyle">Home</button></a>
    <a href="resume.html"><button class="buttonstyle">Resume</button></a>
    <a href="introduction.html"><button class="buttonstyle">Self-introduction</button></a>
    <a href="career.html"><button class="buttonstyle">Career</button></a>
    <a href="project.html"><button class="buttonstyle">Project</button></a>
    <a href="education.html"><button class="buttonstyle">Education</button></a>
    <a href="/logout"><button class="logout-btn">Logout</button></a>
</div>
<div class="content1">
    <div style="box-shadow: 0 0 7px #999; border-radius: 5px; padding: 20px; background-color: white;">
        <h1 style="text-align: center;">경력기술서</h1>
    </div>

</div>
{% endblock %}
