{% extends 'base.html' %}

{% block content %}
<div class="headfixed">
    <h1>Total_Employment_site Intro</h1><br>
    <a href="Home.html"><button class="buttonstyle">Home</button></a>
    <a href="resume.html"><button class="buttonstyle">Resume</button></a>
    <a href="introduction.html"><button class="buttonstyle">Self-introduction</button></a>
    <a href="career.html"><button class="buttonstyle">Career</button></a>
    <a href="project.html"><button class="buttonstyle">Project</button></a>
    <a href="education.html"><button class="buttonstyle">Education</button></a>
    <a href="/logout"><button class="logout-btn">Logout</button></a>
</div>

<div class="content">

	{#<a href="project.html"><button class="buttonstyle">Project</button></a>#}
    <iframe
        src="pdf/portpolio.pdf"
        width="100%"
        height="900px"
        style="border: none;">
    </iframe>
    
</div>
{% endblock %}
