{% extends 'base.html' %}

{% block content %}
<div class="headfixed">
    <h1>Home</h1><br>
    <a href="Home.html"><button class="buttonstyle">Home</button></a>
    <a href="resume.html"><button class="buttonstyle">Resume</button></a>
    <a href="introduction.html"><button class="buttonstyle">Self-introduction</button></a>
    <a href="career.html"><button class="buttonstyle">Career</button></a>
    <a href="project.html"><button class="buttonstyle">Project</button></a>
    <a href="education.html"><button class="buttonstyle">Education</button></a>
    <a href="/logout"><button class="logout-btn">Logout</button></a>
</div>


<div class="content">
    <div id="in"></div>
    <img src="images/오리.jpg">

    
</div>
{% endblock %}
{% block js %}
<script>
    function formatNumber(num) {
        return (num < 10 ? '0' : '') + num;
    }

    function nowTime() {
        var date = new Date();
        var year = date.getFullYear();
        var month = formatNumber(date.getMonth() + 1);
        var day = formatNumber(date.getDate());
        var hours = formatNumber(date.getHours());
        var minutes = formatNumber(date.getMinutes());
        var seconds = formatNumber(date.getSeconds());
        var now = year + "-" + month + "-" + day + " " + hours + ":" + minutes + ":" + seconds;
        document.getElementById("in").innerHTML = now;
    }

    setInterval(nowTime, 1000); // 매초마다 시간 업데이트
    nowTime(); // 페이지 로드 시 즉시 호출
</script>
{% endblock %}
