{% extends "movie_base.html" %}

{% block title %}My Info{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4" style="color: #283618;">Information</h2>
    
    <!-- 사용자 정보 카드 -->
    <div class="card mx-auto" style="max-width: 600px;">
        <div class="card-body text-center">
            <!-- 사용자 프로필 이미지 -->
            <img src="{{ url_for('popcornapp.user_img_file', filename=user.filename if user.filename else 'noimage.jpg') }}" 
     alt="Profile Image" 
     class="rounded-circle mb-3" 
     style="width: 150px; height: 150px; object-fit: cover;">


            <!-- 사용자 정보 -->
            <h5 class="card-title">ID: {% if user.user_id %}{{ user.user_id }}{%else%}탈퇴한 아이디{% endif %}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Name: {{ user.name }}</h6>
            <p class="card-text">Role: {% if user.id == 'admin' %}admin{% else %}user{% endif %}</p>
            <p style="color: black;">💬 댓글수: {{user.comments}}</p>
            <p style="color: black;">💬 리뷰수: {{user.posts}}</p>
            <p style="color: black;">🍿 팝콘수: {{user.popcorns}}</p>
            <p style="color: black;">👍 추첨수: {{user.lots}}</p>

            <!-- 버튼들 -->
            <div class="d-grid gap-2 col-6 mx-auto mt-4">
                {% if user.user_id == session['id'] %}
                <a href="/popcornapp/edit_password" class="btn btn-primary">Change Password</a>
                <a href="/popcornapp/logout" class="btn btn-secondary">Log Out</a>
                {% endif %}
                {% if session['id'] == user.user_id and session['id'] != 'admin'%}
                <a href="/popcornapp/delete_user" class="btn btn-danger">Delete Account</a>
                {% endif %}
                {% if session['id'] == 'admin' %}
                <a href="/popcornapp/user/delete/{{user.id}}" class="btn btn-danger">Delete Account</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
